/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$color-blue: #0000FF;
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*// main section*/


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  background-color: #282c34;
  .navigation_list ul li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    }
  ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width:50%;
    margin: 0 auto;
    grid-gap: 20px;
    padding-top: 2rem;
  }
  a{
    text-decoration: none;
    color: bisque; &:hover{color: white}
  }
  .header_title{
    padding: 5rem;
  }
  .header_title p{
    font-size:1.5rem;
    color:bisque;
  }
  span{
    color:white;
  }
}
.image_section {
  background-image: url('./image/94402.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
  .main-heading{
    margin:0 auto;
    margin-top: 11rem;
    font-size:3rem;
    color:white;
    display: inline-block;
    width: 60%;
  }
  p{
    padding: 5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
  }
}
/*===button-style===*/
.button{
  height: 4rem;
  width: 10rem;
  background: none;
  border: 2px solid white;
  border-radius: 37px;
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  // margin-bottom: 6rem;
}
.color-btn{
  height:4rem;
  width:12rem;
  background: none;
  border:2px solid blue;
  border-radius:40px;
  color:#0000FF;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.two_image_section{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
 .left-image {
  background-image: url('./image/download1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height:40vh;
 }
 .left-image-heading{
  color: white;
  font-size: 2rem;
  padding: 69px;
 }
 .right-image{
  background-image: url('./image/way.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
 }
 .right-image-heading{
  color: white;
  font-size: 2rem;
  padding: 69px;
 }
}
.main_section{
  display: grid;
  grid-template-columns:400px 600px;
  grid-gap:8rem;
  padding-top: 4rem;
  padding-bottom:4rem;
}
.left-paragraph-section {
   grid-gap: 60px;
    display: grid;
    grid-template-rows: auto(5,1fr);
    font-size: 1.5rem;
    position: realative;
    margin-left: 2rem;
    text-align: left;

  
  .main-heading {
    font-size: 2rem;
    padding:20px;
    font-size: sans-serif;
  }
}
.right-paragtaph-section{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:1.8rem;

  
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
}
.right-col{
    display: grid;
    grid-template-rows: repeat(4.1fr);
    grid-gap: 25px;
    text-align: left;
  }
.sub_section{
  background-color: #f8f1f1;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 16px;
  text-align:left;
  padding: 5rem;
  .left-image{
    height:100% ;
  }
.right-colm-1 {
  background-color: white;
  padding: 20px;
  padding:3rem;
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1.8rem;
  }
}
}
.subsctibe-section{
  background-color: blue;
  
  .subscribe-content{
    text-align: center;
    padding:3rem;
  }
  h2{
    color:white;
    font-size:2.5rem;
  }
  p{
    color: white;
    font-size: 1.8rem;
    padding: 2rem;
  }
  .subscribe-input{
    height: 4rem;
    width: 28rem;
    background:white;
    border: 2px solid white;
    border-radius: 37px;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
  }
}

//======footer-section====//
.col-7-footer{
  background-color: black; 
  color:white;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-gap: 10px;
  padding:3rem;
  h2{
    font-size: 2rem;
    text-transform: capitalize;
  }
  p{
    font-size: 1.5rem;
    text-decoration: capitalize;
  }
}
.footer{
  ul{
    color:white;
  }
   a{
    text-decoration: none;
    font-size:1.5rem;
    color: bisque; &:hover{color: white}
    padding: 10px;
  }
  li{
    padding: 5px;
  }
}
 .copyright{
  background-color: black;  
  direction: none;
  color:white;
  text-align:center;
  font-size: 1.2rem;
  padding:2rem;
  font-size: 1.6rem;
  }
  