//select button
.style-input{
    height:25px;
    width:30%;
    margin: 0 25px;
}
select {
    width: 70%;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }